body {
  overflow-x: hidden;
  background-color: #ffffff;
}

#hero-section {
  background-image: 
    linear-gradient(rgba(191,87,0,0.3), rgba(191,87,0,0.3)),
    url("https://static2.gensler.com/uploads/image/75156/Moody_Center_1024x576_1650656957.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero-section img {
  border-radius: 50%;
  border: 1rem solid #bf5700;
  width: clamp(17em, 33vw, 43vw);
  height: clamp(17em, 33vw, 43vw);
  object-fit: cover;
  margin-top: 4em;
}

#hero-section h1 {
  color: #bf5700;
  font-family: "New Rocker", system-ui;
}

#hero-section p {
  color: #bf5700;
  font-family: "Montserrat", sans-serif;
}

#footer-section {
  text-align: center;
  background-color: #bf5700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

#footer-section p {
  margin: 0;
  font-family: Arial, sans-serif;
}

i {
  color: #ffffff;
  font-size: 2rem;
}

@media screen and (orientation: landscape) {
  i {
    margin-left: 20px;
  }
}

.nav-item {
  color: #ffffff;
  margin-right: 20px;
}

#show-section {
  background-color: #ffffff;
  padding: 1rem;
}

@media (min-width: 768px) {
  #show-section {
    padding: 2rem 4rem 4rem 4rem;
  }
}

#show-section h1 {
  text-align: center;
  font-family: "New Rocker", system-ui;
  color: #bf5700;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 2px #f8971f;
}

#show-section h2 {
  text-align: center;
  font-family: "New Rocker", system-ui;
  color: #bf5700 !important;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 2px #f8971f;
}

@media (max-width: 767px) {
  #show-section h1 {
    padding-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  #show-section h1 {
    padding-bottom: 2rem;
  }
}

#show-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#show-section p {
  padding: 1em;
  font-family: Arial, sans-serif;
  margin-top: 2em;
}

.large-screen {
    display: block;
}

.small-screen {
    display: none;
}

@media (max-width: 768px) {
    .large-screen {
        display: none;
    }
    .small-screen {
        display: block;
    }
}

#about-section {
  background: linear-gradient(135deg, #bf5700, #e37b42);
  text-align: center;
}

/* #about-section img {
  border-radius: 20%;
  border: 1rem solid #ffffff;
  min-width: 400px;
  width: clamp(20em, 40vw, 50vw);
} */

@media (max-width: 767px) {
  #about-section {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  #about-section {
    padding: 3rem 4rem 5rem 4rem;
  }
}

#about-section h1 {
  padding-bottom: 1rem;
  font-family: "New Rocker", system-ui;
  color: #ffffff;
  text-shadow: 1px 1px 2px #f8971f;
}

#about-section h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "New Rocker", system-ui;
  color: #ffffff;
  text-shadow: 1px 1px 2px #f8971f;
}

@media (min-width: 768px) {
  #about-section h1 {
    padding-bottom: 2rem;
  }
}

/* .eric-bio {
  font-family: Arial, sans-serif;
  color: #ffffff;
  padding: 1em;
  margin-top: 2em;
} */

.about-bio {
  font-family: Arial, sans-serif;
  color: #ffffff;
  padding: 1em;
}

#socials-section {
  background-color: #ffffff;
  text-align: center;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  #socials-section {
    padding: 1rem 0 2rem 0;
  }
}

@media (min-width: 768px) {
  #socials-section {
    padding: 2rem 0 6rem 0;
  }
}

#socials-section h1 {
  color: #bf5700;
  padding: 1rem 0;
  font-family: "New Rocker", system-ui;
  text-shadow: 1px 1px 2px #f8971f;
}

@media (min-width: 768px) {
  #socials-section h1 {
    padding-bottom: 3rem;
  }
}

#socials-section i {
  color: #bf5700;
  font-size: 4rem;
}

#socials-section i:hover {
  color: #f8971f;
}

@media (max-width: 767px) {
   #carouselExampleIndicators {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  #carouselExampleIndicators {
    padding-top: 3rem;
    margin-bottom: 4rem;
  }
}

#carouselExampleIndicators {
  max-width: 50% !important;
  margin: auto;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: 15px;
}

.carousel-item img {
  width: 100%;
}

.carousel-item:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bf5700;
  z-index: -1;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

#hero-section,
#footer-section,
#about-section,
#show-section,
#socials-section {
  overflow: hidden;
}

#show-target,
#about-target,
#socials-target {
  position: relative;
  top: -100px;
}
